<ActionBar title="Upcoming Events" class="action-bar"></ActionBar>

<ScrollView class="page">
  <StackLayout>
    <ng-container *ngFor="let group of groupedEvents | keyvalue">
      <Label [text]="group.key" class="h2 p-4 bg-blue-100 text-blue-800 font-bold"></Label>
      <ListView [items]="group.value" class="list-group">
        <ng-template let-event="item">
          <GridLayout columns="auto, *" rows="auto, auto" class="list-item p-4" [nsRouterLink]="['/event', event.id]">
            <Image [src]="event.imageUrl" width="60" height="60" row="0" col="0" rowSpan="2" class="rounded-full"></Image>
            <Label [text]="event.name" row="0" col="1" class="text-lg font-bold primary-text ml-4"></Label>
            <Label [text]="event.date | date:'shortTime'" row="1" col="1" class="text-sm secondary-text ml-4"></Label>
          </GridLayout>
        </ng-template>
      </ListView>
    </ng-container>
  </StackLayout>
</ScrollView>