<ActionBar [title]="place?.name" class="action-bar"></ActionBar>

<ScrollView *ngIf="place" class="page">
  <StackLayout>
    <StackLayout class="card">
      <Label [text]="place.name" class="text-2xl font-bold primary-text"></Label>
      <Label [text]="place.address" class="secondary-text"></Label>
      <Label [text]="place.description" class="mt-4 secondary-text" textWrap="true"></Label>
    </StackLayout>

    <Label text="Upcoming Events" class="text-xl font-bold mt-6 ml-4 accent-text"></Label>
    <ListView [items]="upcomingEvents" class="list-group">
      <ng-template let-event="item">
        <GridLayout columns="auto, *" rows="auto, auto" class="list-item p-2" [nsRouterLink]="['/event', event.id]">
          <Image [src]="event.imageUrl" width="40" height="40" row="0" col="0" rowSpan="2" class="rounded-full"></Image>
          <Label [text]="event.name" row="0" col="1" class="font-bold primary-text ml-2"></Label>
          <Label [text]="event.date | date:'medium'" row="1" col="1" class="text-sm secondary-text ml-2"></Label>
        </GridLayout>
      </ng-template>
    </ListView>

    <Label text="Past Events" class="text-xl font-bold mt-6 ml-4 accent-text"></Label>
    <ListView [items]="pastEvents" class="list-group">
      <ng-template let-event="item">
        <GridLayout columns="auto, *" rows="auto, auto" class="list-item p-2" [nsRouterLink]="['/event', event.id]">
          <Image [src]="event.imageUrl" width="40" height="40" row="0" col="0" rowSpan="2" class="rounded-full"></Image>
          <Label [text]="event.name" row="0" col="1" class="font-bold primary-text ml-2"></Label>
          <Label [text]="event.date | date:'medium'" row="1" col="1" class="text-sm secondary-text ml-2"></Label>
        </GridLayout>
      </ng-template>
    </ListView>
  </StackLayout>
</ScrollView>